body {
  padding-top: 20px;
  background: #f5f7f8;
}

h1 {
  text-align: center;
}

.grid-1 {
  display: grid;
  width: 100%;

  max-width: 750px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 100px);
  grid-gap: 20px;
}

/* items */

.grid-1 div {
  text-align: center;
  color: white;
  padding: 1em 0;
  font-size: 2em;
}

/* specific item styles */

.item-1 {
  background: #b03532;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.item-2 {
  background: #33a8a5;
  grid-column: 3 / span 2;
}
.item-3 {
  background: #cc3605;
}
.item-5 {
  background: #2604ad;

  grid-row: 2 / span 2;
}

.item-6 {
  background: #92046c;

  grid-row: 2 / span 3;
}

.item-7 {
  background: #110b0b;
  grid-column: 1 / span 3;
}
.item-8 {
  background: #a6b509;
}
.item-9 {
  background: #649ee4;
  grid-column: 1 / span 4;
}

.item-4 {
  background: #71a833;
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}
